<div class="login-container">
  <mat-card>
    <mat-card-header>
      <div class="title-container">
        <mat-icon>login</mat-icon>
        <h2 class="login-title">Sign In</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
        <mat-form-field class="form-group">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-group">
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" formControlName="password">
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <button mat-raised-button class="form-group" color="primary" type="submit">Login</button>
      </form>

<!--       <div class="links">
        <a href="#" style="text-decoration: none;color: black;">Forgot Password?</a>
      </div> -->
    </mat-card-content>
  </mat-card>
</div>
